*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 3s ease;
    padding-bottom: 2px;
    position: relative;
}

.itemphoto{
    width: 350px;
    height: 420px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.itemimg{
    position: absolute;
    left: 0%;
    top: 0% ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .7s ease opacity;
}

.itemimghover{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: .7s ease opacity;
}

.itemphoto:hover .itemimg{
    opacity: 0;
}

.itemphoto:hover .itemimghover{
    opacity: 1;
    width: 105%;
    height: 105%;
}

.itemtitle{
    font-family: inssbold;
    font-size: 15px;
}

.itemstars{
    font-size: 12px;
}

.startext{
    color: #f3b400;
}

.itemcost{
    font-family: insbold;
    font-size: 15px;
}

.itemversions{
    display: flex;
    gap: 10px;
}

.version{
    width: 30px;
    height: 30px;
}

.versionimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.versionselected{
    border: 3px solid transparent;
    outline: 1px solid rgba(0, 0, 0, 0.485);
}

.righthoverdiv{
    position: absolute;
    top: 3%;
    right: 0%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: .3s ease;
}

.itemphoto:hover .righthoverdiv{
    opacity: 1;
    right: 6%;
}

.rightheart, .rightlayers, .righteye{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightheartlabel, .rightlayerslabel, .righteyelabel{
    display: flex;
    align-items: center;
    opacity: 0;
    transition: .3s ease;
}

.rightheartlabelsecondrectangle, .rightlayerslabelsecondrectangle, .righteyelabelsecondrectangle{
    position: absolute;
    right: 115%;
    width: 7px;
    height: 7px;
    background-color: black;
    rotate: 45deg;
}

.rightheartlabelfirstrectangle, .rightlayerslabelfirstrectangle, .righteyelabelfirstrectangle{
    border-radius: 3px;
    right: 120%;
    position: absolute;
    width: 70px;
    height: 20px;
    background-color: black;
    font-family: insmed;
    font-size: 8px;
    color: white;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.rightheart:hover .rightheartlabel{
    opacity: 1;
}

.rightlayers:hover .rightlayerslabel{
    opacity: 1;
}

.righteye:hover .righteyelabel{
    opacity: 1;
}

.rightheart:hover{
    background-color: black;
}

.rightheart:hover .rightheartbutton{
color: white;
}

.rightlayers:hover{
    background-color: black;
}

.rightlayers:hover .rightlayersbutton{
color: white;
}

.righteye:hover{
    background-color: black;
}

.righteye:hover .righteyebutton{
color: white;
}

.rightheartbutton, .rightlayersbutton, .righteyebutton{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomhoverdiv{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 300px;
    height: 45px;
    border-radius: 99px;
    border: 0;
    background-color: white;
    color: black;
    font-family: inssbold;
    font-size: 15px;
    bottom: 0%;
    opacity: 0;
    transition: .3s ease;
}

.bottomhoverdiv:hover{
    background-color: black;
    color: white;
}

.itemphoto:hover .bottomhoverdiv{
    opacity: 1;
    bottom: 4%;
}
