@font-face {
    font-family: insregu ;
    src: url(/src/fonts/InstrumentSans-Regular.ttf);
}

@font-face {
    font-family: insmed ;
    src: url(/src/fonts/InstrumentSans-Medium.ttf);
}

@font-face {
    font-family: insbold ;
    src: url(/src/fonts/InstrumentSans-Bold.ttf);
}

@font-face {
    font-family: inssbold ;
    src: url(/src/fonts/InstrumentSans-SemiBold.ttf);
}
