@import url(nav.css);
@import url(fonts.css);
@import url(footter.css);
@import url(shop.css);
@import url(aboutus.css);
@import url(contactus.css);
@import url(ourstore.css);
@import url(storelocation.css);
@import url(compare.css);
@import url(wishlist.css);
@import url(recently.css);
@import url(faq.css);

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



.signinfather{
    cursor: url('../images/cursors/close\ \(1\).png'), auto;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.368);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 32%;

}

.signinchild{
    cursor:default;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7% 5%;
    position: relative;
}

.signinx{
    position: absolute;
    top: 5%;
    right: 5%;
}

.signintitle{
    text-align: center;
    font-family: inssbold;
    font-size: 25px;
    color: black;
}

.signintext{
    text-align: center;
    font-family: insmed;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.393); 
}

.signinemail, .signinpass{
    width: 100%;
    height: 50px;
    border-radius: 99px;
    background-color: white;
    border: .3px solid rgba(0, 0, 0, 0.11);
    font-size: 15px;
    font-family: insmed;
    padding-left: 20px;
}

.signinemail::placeholder {
    color: rgba(0, 0, 0, 0.205);
  }

.signinpass::placeholder {
    color: rgba(0, 0, 0, 0.205);
  }



.forgetyourpass{
    text-decoration: none;
    font-family: insmed;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.393); 
}

.signinloginbutton{
    width: 100%;
    height: 50px;
    border-radius: 99px;
    background-color: black;
    font-size: 15px;
    font-family: inssbold;
    color: white;
    border-width: 0;
}

.signincreatebutton{
    width: 100%;
    height: 50px;
    border-radius: 99px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: inssbold;
    color: black;  
    border: 1px solid black;
}

.signincreatebutton:hover{
    background-color: black;
    color: white;
}


.signupfather{
    cursor: url('../images/cursors/close\ \(1\).png'), auto;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.368);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 34%;

}

.signupchild{
    cursor:default;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7% 6%;
    position: relative;
}


.signupx{
    position: absolute;
    top: 5%;
    right: 5%;
}

.signuptitle{
    text-align: center;
    font-family: inssbold;
    font-size: 25px;
    color: black;
}

.signuptext{
    text-align: center;
    font-family: insmed;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.393); 
}

.signupname, .signuplastname, .signupmail, .signuppass{
    width: 100%;
    height: 50px;
    border-radius: 99px;
    background-color: white;
    border: .3px solid rgba(0, 0, 0, 0.11);
    font-size: 15px;
    font-family: insmed;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.142);
}

    .signupname::placeholder {
        color: rgba(0, 0, 0, 0.205);
    }

    .signuplastname::placeholder {
        color: rgba(0, 0, 0, 0.205);
    }

    .signupmail::placeholder {
        color: rgba(0, 0, 0, 0.205);
    }

    .signuppass::placeholder {
        color: rgba(0, 0, 0, 0.205);
    }

.singupprivacytext{
    font-family: insmed;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.393); 
}

.signupcreatebutton{
    width: 100%;
    height: 50px;
    border-radius: 99px;
    background-color: black;
    font-size: 15px;
    font-family: inssbold;
    color: white;
    border-width: 0;
}

.signuploginbutton{
    width: 100%;
    height: 50px;
    border-radius: 99px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: inssbold;
    color: black;  
    border: 1px solid black;
}

.signuploginbutton:hover{
    background-color: black;
    color: white;
}

.firstsliderfther{
    width: 100%;
    height: 95vh;
    padding-top: 70px;
    position: relative;
}

.firstsliderchild{
    width: 100%;
    height: 100%;
position: relative;
}

.first{
    width: 100%;
    height: 100%;
}

.siderimg{
    width: 100%;
    height: 100%;
}

.sliderphoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slidercontent{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 10%;
    left: 5%;
}

.firstslidercontenttitle{
    font-size: 14px;
    font-family: insmed;
    color: black;
}

.firstslidercontenttext{
    font-size: 70px;
    font-family: inssbold;
    color: black;
}

.firstslidercontentbutton{
    width: 250px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 99px;
    border-width: 0;
    font-family: inssbold;
    font-size: 15px;
}



.firstsliderleftbutton{
    cursor: pointer;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 99px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    transition: 0.3s ease ;
    opacity: 0;
    border-width: 0;
}

.firstsliderrightbutton{
    cursor: pointer;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 99px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease ;
    opacity: 0;
    border-width: 0;
}

.firstsliderfther:hover .firstsliderleftbutton{
    opacity: 1;
    left: 2%;
}

.firstsliderfther:hover .firstsliderrightbutton{
    opacity: 1;
    right: 2%;
}

.topcollectionsfather{
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 100px;
}

.topcollectionschild{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
    justify-content: space-between;
}

.topcollectionscontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.topcollectionstitle{
font-family: insmed;
font-size: 40px;
}

.topcollectionstext{
    text-align: center;
font-family: insregu;
font-size: 15px;
color: rgba(0, 0, 0, 0.523);
}

.topcollectionscircles{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}


.circletitle:hover{
    color: #d0473e;
}

.circle{
    width: 14%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.circlephoto{
    cursor: pointer;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.circleimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s ease;
}

.circleimg:hover{
    transform: scale(1.03, 1.03);
}

.circletitle{
    font-family: inssbold;
}

.bestsellingfather{
    width: 100%;
    display: flex;
    margin-top: 50px;
    position: relative;
}

.bestsellingchild{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
}

.bestsellingcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.bestsellingtitle{
font-family: insmed;
font-size: 40px;
}

.bestsellingtext{
font-family: insregu;
font-size: 15px;
color: rgba(0, 0, 0, 0.523);
}


.bestsellingleftbutton{
    cursor: pointer;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 99px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    transition: 0.3s ease ;
    opacity: 0;
    border-width: 0;
}

.bestsellingrightbutton{
    cursor: pointer;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 99px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease ;
    opacity: 0;
    border-width: 0;
}

.bestsellingfather:hover .bestsellingleftbutton{
    opacity: 1;
    left: 4%;
}

.bestsellingfather:hover .bestsellingrightbutton{
    opacity: 1;
    right: 5%;
}

.itemsfather{
    margin-top: 40px;
    width: 100%;;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.items{
    width: 100%;
    display: flex;
    gap: 30px;
    transition: 0.7s ease;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 3s ease;
    padding-bottom: 2px;
    position: relative;
}

.itemphoto{
    width: 350px;
    height: 420px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.itemimg{
    position: absolute;
    left: 0%;
    top: 0% ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .7s ease opacity;
}

.itemimghover{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: .7s ease opacity;
}

.itemphoto:hover .itemimg{
    opacity: 0;
}

.itemphoto:hover .itemimghover{
    opacity: 1;
    width: 105%;
    height: 105%;
}

.itemtitle{
    font-family: inssbold;
    font-size: 15px;
}

.itemstars{
    font-size: 12px;
}

.startext{
    color: #f3b400;
}

.itemcost{
    font-family: insbold;
    font-size: 15px;
}

.itemversions{
    display: flex;
    gap: 10px;
}

.version{
    width: 30px;
    height: 30px;
}

.versionimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.versionselected{
    border: 3px solid transparent;
    outline: 1px solid rgba(0, 0, 0, 0.485);
}

.righthoverdiv{
    position: absolute;
    top: 3%;
    right: 0%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: .3s ease;
}

.itemphoto:hover .righthoverdiv{
    opacity: 1;
    right: 6%;
}

.rightheart, .rightlayers, .righteye{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightheartlabel, .rightlayerslabel, .righteyelabel{
    display: flex;
    align-items: center;
    opacity: 0;
    transition: .3s ease;
}

.rightheartlabelsecondrectangle, .rightlayerslabelsecondrectangle, .righteyelabelsecondrectangle{
    position: absolute;
    right: 115%;
    width: 7px;
    height: 7px;
    background-color: black;
    rotate: 45deg;
}

.rightheartlabelfirstrectangle, .rightlayerslabelfirstrectangle, .righteyelabelfirstrectangle{
    border-radius: 3px;
    right: 120%;
    position: absolute;
    width: 70px;
    height: 20px;
    background-color: black;
    font-family: insmed;
    font-size: 8px;
    color: white;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.rightheart:hover .rightheartlabel{
    opacity: 1;
}

.rightlayers:hover .rightlayerslabel{
    opacity: 1;
}

.righteye:hover .righteyelabel{
    opacity: 1;
}

.rightheart:hover{
    background-color: black;
}

.rightheart:hover .rightheartbutton{
color: white;
}

.rightlayers:hover{
    background-color: black;
}

.rightlayers:hover .rightlayersbutton{
color: white;
}

.righteye:hover{
    background-color: black;
}

.righteye:hover .righteyebutton{
color: white;
}

.rightheartbutton, .rightlayersbutton, .righteyebutton{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomhoverdiv{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 300px;
    height: 45px;
    border-radius: 99px;
    border: 0;
    background-color: white;
    color: black;
    font-family: inssbold;
    font-size: 15px;
    bottom: 0%;
    opacity: 0;
    transition: .3s ease;
}

.bottomhoverdiv:hover{
    background-color: black;
    color: white;
}

.itemphoto:hover .bottomhoverdiv{
    opacity: 1;
    bottom: 4%;
}

.onetimeonlyfather{
    width: 100%;
    height: 80vh;
    margin-top: 100px;
}

.onetimeonlychild{
    width: 100%;
    height: 100%;
    position: relative;
}

.onetimeonlyphoto{
    width: 100%;
    height: 100%;
}

.onetimeonlyimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.onetimeonlycontent{
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.onetimeexplore{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dealoftheweek{
    font-family: inssbold;
    font-size: 12px;
}

.onetimeonly{
    font-family: insmed;
    font-size: 45px;
}

.exploreour{
    font-family: insregu;
    font-size: 14px;
}

.onetimeonlybutton{
    width: 250px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 99px;
    border-width: 0;
    font-family: inssbold;
    font-size: 15px;
}


.trendingfather{
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.trendingchild{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
    gap: 30px;
}

.trendingcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.trendingtitle{
font-family: insmed;
font-size: 40px;
}

.trendingtext{
font-family: insregu;
font-size: 15px;
color: rgba(0, 0, 0, 0.523);
}

.trendingitemsfather{
    width: 100%;;
    display: flex;
    justify-content: center;
}

.trendingitems{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.trendingitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.trendingitemphoto{
    width: 330px;
    height: 430px;
}

.trendingitemimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.trendingitemtitle{
    font-family: inssbold;
    font-size: 15px;
}

.trendingitemstars{
    font-size: 12px;
}

.trendingstartext{
    color: #f3b400;
}

.trendingitemcost{
    font-family: insbold;
    font-size: 15px;
    color: red;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.discountedcost{
    color: rgba(0, 0, 0, 0.312);
    font-family: insmed;
    text-decoration:line-through ;
}

.trendingitemversions{
    display: flex;
    gap: 10px;
}

.trendingversion{
    width: 30px;
    height: 30px;
}

.trendingversionimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 99px;
}

.customersayfather{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.customersaychild{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 3%;
}

.customersaytitle{
    font-family: insmed;
    font-size: 40px;
    }
    
.customersaytext{
    font-family: insregu;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.523);
    }

.customercards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.customercard{
    width: 670px;
    height: 320px;
    background-color: white;
    border-radius: 10px;
    border: .2px solid rgba(0, 0, 0, 0.059);
    overflow: hidden;
    display: flex;
    gap: 20px;
}

.cardphoto{
    width: 35%;
    height: 100%;
}

.cardimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardcontent{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardstars{
    display: flex;
    gap: 1px;
}

.cardstar{
    color:#f3b400;
}


.cardcustomername{
    font-family: inssbold;
    font-size: 15px;
}

.cardcustomercomment{
    font-family: insregu;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.716);
}

.cardspan{
    margin-left: 10px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.504);
}

.cardline{
    width: 100%;
    height: 0.1px;
    border-radius: 99px;
    background-color: rgba(0, 0, 0, 0.253);
}

.buyelement{
    display: flex;
    gap: 20px;
    align-items: center;
}

.buyelementphoto{
    width: 60px;
    height: 60px;
}

.buyelementimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 99px;
}

.buyelementcontent{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buyelementtitle{
    font-family: inssbold;
    font-size: 15px;
}

.buyelementcost{
    font-family: inssbold;
    font-size: 15px;
}

.Hello{
    width: 100%;
    position: relative;
}

.Hellochild{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.Hellotitle{
    font-family: inssbold;
    font-size: 35px;
}

.Hellotext{
    color: rgba(0, 0, 0, 0.415);
    text-align: center;
    font-family: insregu;
    font-size: 15px;
    width: 60%;
}

.seeallup{
    transform: translateY(-150px);
}

.shopbytranslate{
    transform: translateY(-160px);
}

.seeall{
    z-index: 0;
    cursor: pointer;
    text-decoration: underline;
    font-size: 15px;
    font-family: inssbold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    background-color: transparent;
}

.seeallback{
    transition: 0.7s ease;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 57%, rgba(255,255,255,0) 100%);    
}

.shopbygram{
    transition: 0.7s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 170px;
}

.shopbygramchild{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
    gap: 10px;
}

.shopbygramtitle{
    text-align: center;
    font-family: inssbold;
    font-size: 35px;
}

.shopbygramtext{
        color: rgba(0, 0, 0, 0.7);
        text-align: center;
        font-family: insregu;
        font-size: 15px;
        width: 100%;
}

.shopbygramcards{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shopbygramcard{
    position: relative;
    width: 16%;
}

.shopbygramimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.shopbygramphotoicon{
    display: flex;
    border-radius: 99px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    position: absolute;
    right: 5%;
    top: 4%;
}

.footcategories{
    width: 100%;
    margin-top: 100px;
}

.footcategorieschild{
    width: 100%;
    display: flex;
    padding: 0 3%;
    justify-content: space-between;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.categoryicon{
    color: rgba(0, 0, 0, 0.737);
    text-align: center;
    font-size: 25px;
}

.categorytitle{
font-family: inssbold;
font-size: 15px;
text-align: center;
}

.categorytext{
width: 85%;
font-family: insregu;
font-size: 15px;
text-align: center;
color: rgba(0, 0, 0, 0.638);
}

.line{
    margin-top: 100px;
    width: 100%;
    height: .1px;
    background-color: rgba(0, 0, 0, 0.142);
}


.displaynone{
    display: none;
}




@media only screen and (max-width:1025px) {

}