@import url(nav.css);
@import url(fonts.css);
@import url(footter.css);
@import url(./components/item.css);
@import url(./components/signinsignup.css);

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.firstsliderfther{
    width: 100%;
    height: 95vh;
    padding-top: 70px;
    position: relative;
}

.firstsliderchild{
    width: 100%;
    height: 100%;
position: relative;
}

.first{
    width: 100%;
    height: 100%;
}

.siderimg{
    width: 100%;
    height: 100%;
}

.sliderphoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slidercontent{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 10%;
    left: 5%;
}

.firstslidercontenttitle{
    font-size: 14px;
    font-family: insmed;
    color: black;
}

.firstslidercontenttext{
    font-size: 70px;
    font-family: inssbold;
    color: black;
}

.firstslidercontentbutton{
    width: 250px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 99px;
    border-width: 0;
    font-family: inssbold;
    font-size: 15px;
}



.firstsliderleftbutton{
    cursor: pointer;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 99px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    transition: 0.3s ease ;
    opacity: 0;
    border-width: 0;
}

.firstsliderrightbutton{
    cursor: pointer;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 99px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease ;
    opacity: 0;
    border-width: 0;
}

.firstsliderfther:hover .firstsliderleftbutton{
    opacity: 1;
    left: 2%;
}

.firstsliderfther:hover .firstsliderrightbutton{
    opacity: 1;
    right: 2%;
}

.topcollectionsfather{
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 100px;
}

.topcollectionschild{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
    justify-content: space-between;
}

.topcollectionscontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.topcollectionstitle{
font-family: insmed;
font-size: 40px;
}

.topcollectionstext{
    text-align: center;
font-family: insregu;
font-size: 15px;
color: rgba(0, 0, 0, 0.523);
}

.topcollectionscircles{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}


.circletitle:hover{
    color: #d0473e;
}

.circle{
    width: 14%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.circlephoto{
    cursor: pointer;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.circleimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s ease;
}

.circleimg:hover{
    transform: scale(1.03, 1.03);
}

.circletitle{
    font-family: inssbold;
}

.bestsellingfather{
    width: 100%;
    display: flex;
    margin-top: 50px;
    position: relative;
}

.bestsellingchild{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
}

.bestsellingcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.bestsellingtitle{
font-family: insmed;
font-size: 40px;
}

.bestsellingtext{
font-family: insregu;
font-size: 15px;
color: rgba(0, 0, 0, 0.523);
}


.bestsellingleftbutton{
    cursor: pointer;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 99px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    transition: 0.3s ease ;
    opacity: 0;
    border-width: 0;
}

.bestsellingrightbutton{
    cursor: pointer;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 99px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease ;
    opacity: 0;
    border-width: 0;
}

.bestsellingfather:hover .bestsellingleftbutton{
    opacity: 1;
    left: 4%;
}

.bestsellingfather:hover .bestsellingrightbutton{
    opacity: 1;
    right: 5%;
}

.itemsfather{
    margin-top: 40px;
    height: 80vh;
    width: 100%;;
    display: flex;
    justify-content: center;
    position: relative;
}

.items{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    transition: 0.7s ease;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    flex-direction: row;
    position: static;
    overflow-x: scroll;
}

.onetimeonlyfather{
    width: 100%;
    height: 80vh;
    margin-top: 100px;
}

.onetimeonlychild{
    width: 100%;
    height: 100%;
    position: relative;
}

.onetimeonlyphoto{
    width: 100%;
    height: 100%;
}

.onetimeonlyimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.onetimeonlycontent{
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.onetimeexplore{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dealoftheweek{
    font-family: inssbold;
    font-size: 12px;
}

.onetimeonly{
    font-family: insmed;
    font-size: 45px;
}

.exploreour{
    font-family: insregu;
    font-size: 14px;
}

.onetimeonlybutton{
    width: 250px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 99px;
    border-width: 0;
    font-family: inssbold;
    font-size: 15px;
}


.trendingfather{
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.trendingchild{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
    gap: 30px;
}

.trendingcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.trendingtitle{
font-family: insmed;
font-size: 40px;
}

.trendingtext{
font-family: insregu;
font-size: 15px;
color: rgba(0, 0, 0, 0.523);
}


.trendingitemsfather{
    margin-top: 40px;
    height: 80vh;
    width: 100%;;
    display: flex;
    justify-content: center;
    position: relative;
}

.trendingitems{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    transition: 0.7s ease;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    flex-direction: row;
    position: static;
    overflow-x: scroll;
}

.trendingitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.trendingitemphoto{
    width: 280px;
    height: 430px;
}

.trendingitemimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.trendingitemtitle{
    font-family: inssbold;
    font-size: 15px;
}

.trendingitemstars{
    font-size: 12px;
}

.trendingstartext{
    color: #f3b400;
}

.trendingitemcost{
    font-family: insbold;
    font-size: 15px;
    color: red;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.discountedcost{
    color: rgba(0, 0, 0, 0.312);
    font-family: insmed;
    text-decoration:line-through ;
}

.trendingitemversions{
    display: flex;
    gap: 10px;
}

.trendingversion{
    width: 30px;
    height: 30px;
}

.trendingversionimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 99px;
}

.customersayfather{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.customersaychild{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 3%;
}

.customersaytitle{
    font-family: insmed;
    font-size: 40px;
    }
    
.customersaytext{
    font-family: insregu;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.523);
    }

.customercards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.customercard{
    width: 670px;
    height: 320px;
    background-color: white;
    border-radius: 10px;
    border: .2px solid rgba(0, 0, 0, 0.059);
    overflow: hidden;
    display: flex;
    gap: 20px;
}

.cardphoto{
    width: 35%;
    height: 100%;
}

.cardimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardcontent{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardstars{
    display: flex;
    gap: 1px;
}

.cardstar{
    color:#f3b400;
}


.cardcustomername{
    font-family: inssbold;
    font-size: 15px;
}

.cardcustomercomment{
    font-family: insregu;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.716);
}

.cardspan{
    margin-left: 10px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.504);
}

.cardline{
    width: 100%;
    height: 0.1px;
    border-radius: 99px;
    background-color: rgba(0, 0, 0, 0.253);
}

.buyelement{
    display: flex;
    gap: 20px;
    align-items: center;
}

.buyelementphoto{
    width: 60px;
    height: 60px;
}

.buyelementimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 99px;
}

.buyelementcontent{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buyelementtitle{
    font-family: inssbold;
    font-size: 15px;
}

.buyelementcost{
    font-family: inssbold;
    font-size: 15px;
}

.Hello{
    width: 100%;
    position: relative;
}

.Hellochild{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.Hellotitle{
    font-family: inssbold;
    font-size: 35px;
}

.Hellotext{
    color: rgba(0, 0, 0, 0.415);
    text-align: center;
    font-family: insregu;
    font-size: 15px;
    width: 60%;
}

.seeallup{
    transform: translateY(-150px);
}

.shopbytranslate{
    transform: translateY(-160px);
}

.seeall{
    z-index: 0;
    cursor: pointer;
    text-decoration: underline;
    font-size: 15px;
    font-family: inssbold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    background-color: transparent;
}

.seeallback{
    transition: 0.7s ease;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 57%, rgba(255,255,255,0) 100%);    
}

.shopbygram{
    transition: 0.7s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 170px;
}

.shopbygramchild{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
    gap: 10px;
}

.shopbygramtitle{
    text-align: center;
    font-family: inssbold;
    font-size: 35px;
}

.shopbygramtext{
        color: rgba(0, 0, 0, 0.7);
        text-align: center;
        font-family: insregu;
        font-size: 15px;
        width: 100%;
}

.shopbygramcards{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shopbygramcard{
    position: relative;
    width: 16%;
}

.shopbygramimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.shopbygramphotoicon{
    display: flex;
    border-radius: 99px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    position: absolute;
    right: 5%;
    top: 4%;
}

.footcategories{
    width: 100%;
    margin-top: 100px;
}

.footcategorieschild{
    width: 100%;
    display: flex;
    padding: 0 3%;
    justify-content: space-between;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.categoryicon{
    color: rgba(0, 0, 0, 0.737);
    text-align: center;
    font-size: 25px;
}

.categorytitle{
font-family: inssbold;
font-size: 15px;
text-align: center;
}

.categorytext{
width: 85%;
font-family: insregu;
font-size: 15px;
text-align: center;
color: rgba(0, 0, 0, 0.638);
}

.line{
    margin-top: 100px;
    width: 100%;
    height: .1px;
    background-color: rgba(0, 0, 0, 0.142);
}


.displaynone{
    display: none;
}


::-webkit-scrollbar {
    width: 3px;
    height: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background: #000000;
  }