*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav{
    z-index: 2;
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: center;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.126);
}
.navchild{
    max-width: 1560px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 15px 35px;
    justify-content: space-between;
}

.navleft{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navcontent:hover{
    color: #D0473E;
}

.dropdowncontent:hover{
    color: #D0473E;
}




.contentfather{
    height: 20px;
    display: flex;
    align-items: center;  
    gap: 5px; 
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition: overflow 0 3s;
    cursor: pointer;

}

.contentwithdrop{
    display: flex;
    gap: 5px;
    align-items: center;
}

.contentfather:hover{
    overflow: visible;
}

.contentfather:hover .dropdownmenu{
    overflow: visible;
    height: 270px;
}

.dropdownmenu__container{
    left: 0;
    position: absolute;
}

.dropdownmenu{
    transition: .3s ease;
    margin-top: 45px;
    width: 260px;
    height:200px;
    background-color: rgb(255, 255, 255);
    left: 0%;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    -webkit-box-shadow: 0px 11px 27px -10px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 11px 27px -10px rgba(0,0,0,0.07);
    box-shadow: 0px 11px 27px -10px rgba(0,0,0,0.07);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: center;
    padding-left: 40px;
}


.dropdowncontent{
    font-family: insregu;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.navcontent{
    font-family: inssbold;
    font-size: 16px;
    color: black;
    text-decoration: none;
    transition: .5s ease;
}

.chevarrownav{
    color: black;
    font-size: 12px;
    font-weight: bold;
    line-height: 8px;
}

.navright{
    display: flex;
    align-items: center;
    gap: 20px;
}

.searchanvbar{
    width: 200px;
    height: 40px;
    border-radius: 99px;
    border: 1px solid black;
    color: rgba(0, 0, 0, 0.444);
    font-family: insregu;
    padding-left: 40px;
}


.heart, .bag{
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.personicon{
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    border: 0;
}


.notificationheart{
    top: -8px;
    right: -8px;
    width: 15px;
    height: 15px;
    border-radius: 99px;
    position: absolute;
    color: white;
    background-color: rgb(217, 58, 58);
    font-family: insregu;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificationbag{
    top: -8px;
    right: -8px;
    width: 15px;
    height: 15px;
    border-radius: 99px;
    position: absolute;
    color: white;
    background-color: rgb(217, 58, 58);
    font-family: insregu;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navrelatives{
    position: relative;
}

.searchiconnav{
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        left: 15px;
}

.hamburgermenunav{
    width: 100%;
    display: none;
    justify-content: space-between;
    padding: 15px 35px;
    background-color: white;
}

.hamurgeropened{
    background-color: rgba(0, 0, 0, 0.163);
    height: 100vh;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0%;
    overflow: hidden;
}

.hamurgeropenedchild{
    background-color: white;
    height: 100%;
    width: 50%;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hamurgeropenedlogo{
    width: 100%;
}

.hamurgeropenedcontents{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hamurgeropenedcontent{
   width: 100%;
   height: 40px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.218);
}

.hamurgeropenedcontenta{
    width: 100%;
    height: 100%;
    font-family: insmed;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.hamburgerleft{
    display: flex;
    align-items: center;
    gap: 20px;
}


.hamburgerright{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hamburgermenuicon{
    font-size: 25px;
    color: black;
}

.navlogoburgercenter{
    display: none;
}

.hamburgermenuiconlittle    {
    font-size: 25px;
    color: black;
}

.hamburgernavlittle{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px;
    background-color: white;
}

.searchiconhamburger{
  font-size: 20px;
}

.hamburgernavlittleright{
    display: flex;
    gap: 20px;
}


@media only screen and (max-width:1044px) {
 
    .navchild{
        display: none;
    }

    .hamburgermenunav{
        display: flex;
    }    
    
}

@media only screen and (max-width:764px) {
 
    .hamburgermenunav{
        display: none;
    }  

    .hamburgernavlittle{
        display: flex;
    }

}