* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav {
    z-index: 2;
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: center;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.126);
}

.navchild {
    max-width: 1560px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 15px 35px;
    justify-content: space-between;
}

.navleft {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navcontent:hover {
    color: #D0473E;
}

.dropdowncontent:hover {
    color: #D0473E;
}




.contentfather {
    height: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition: overflow 0 3s;
    cursor: pointer;

}

.contentwithdrop {
    display: flex;
    gap: 5px;
    align-items: center;
}

.contentfather:hover {
    overflow: visible;
}

.contentfather:hover .dropdownmenu {
    overflow: visible;
    height: 270px;
}

.dropdownmenu__container {
    left: 0;
    position: absolute;
}

.dropdownmenu {
    transition: .3s ease;
    margin-top: 45px;
    width: 260px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    left: 0%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0px 11px 27px -10px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 11px 27px -10px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 11px 27px -10px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: center;
    padding-left: 40px;
}


.dropdowncontent {
    font-family: insregu;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.navcontent {
    font-family: inssbold;
    font-size: 16px;
    color: black;
    text-decoration: none;
    transition: .5s ease;
}

.chevarrownav {
    color: black;
    font-size: 12px;
    font-weight: bold;
    line-height: 8px;
}

.navright {
    display: flex;
    align-items: center;
    gap: 20px;
}

.searchnavbar {
    width: 200px;
    height: 40px;
    border-radius: 99px;
    border: 1px solid black;
    color: rgba(0, 0, 0, 0.444);
    font-family: insregu;
    padding-left: 40px;
}


.heart,
.bag {
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.personicon {
    cursor: pointer;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    border: 0;
}


.notificationheart {
    top: -8px;
    right: -8px;
    width: 15px;
    height: 15px;
    border-radius: 99px;
    position: absolute;
    color: white;
    background-color: rgb(217, 58, 58);
    font-family: insregu;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificationbag {
    top: -8px;
    right: -8px;
    width: 15px;
    height: 15px;
    border-radius: 99px;
    position: absolute;
    color: white;
    background-color: rgb(217, 58, 58);
    font-family: insregu;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navrelatives {
    position: relative;
}

.searchiconnav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    background-color: transparent;
    border: 0cap;

}

.searchiconhamburger {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 6px;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hamburgermenunav {
    width: 100%;
    display: none;
    grid-template-columns: repeat(3, auto);
    padding: 15px 35px;
    background-color: white;
}

.hamurgeropened {
    background-color: rgba(0, 0, 0, 0.163);
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    left: 0%;
    overflow: hidden;
    cursor: url('../images/cursors/close\ \(1\).png'), auto;
    word-break: keep-all;
}

.hamurgeropenedchild {
    cursor: default;
    background-color: white;
    height: 100%;
    width: 0%;
    overflow: hidden;
    display: flex;
    transition: .3s ease width;
}

.hamurgeropenedcontentsdiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: .3s ease width;
    overflow: hidden;
    padding: 10px;
}

.hamurgeropenedlogo {
    width: 100px;
}

.hamurgeropenedcontents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hamurgeropenedcontent {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.218);
}

.hamurgeropenedcontenta {
    width: 100%;
    height: 100%;
    font-family: inssbold;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.displayandgapnav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: insregu;
    padding-bottom: 8px;
}

.hamburgerleft {
    display: flex;
    align-items: center;
    gap: 20px;
}


.hamburgerright {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.navlogomiddlemenudiv{
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.hamburgermenuicon {
    grid-column: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 25px;
    color: black;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.searchopened {
    background-color: rgba(0, 0, 0, 0.163);
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    left: 0%;
    overflow: hidden;
    cursor: url('../images/cursors/close\ \(1\).png'), auto;
    word-break: keep-all;
}

.searchopenedchild {
    cursor: default;
    background-color: white;
    height: 100%;
    width: 0%;
    overflow: hidden;
    display: flex;
    transition: .3s ease width;
}

.searchopenedcontentdiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: .3s ease width;
    overflow: hidden;
    padding: 10px;
    align-items: center;
}

.searchopenedtitle {
    font-size: 25px;
    font-family: inssbold;
    color: black;
}

.searchinputminidiv {
    width: 100%;
    position: relative;
}

.searchopenedinput {
    width: 100%;
    height: 50px;
    border-radius: 99px;
    font-family: insregu;
    color: black;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.132);
    padding-left: 30px;
}

.minisearchicon {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: black;
}

.displaynonenav{
    display: none;
}

.hamburgernavleft{
    display: flex;
    gap: 20px;
}

.openedBag{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.224);
    position: fixed;
    display: flex;
    justify-content: end;
    cursor: url('../images/cursors/close\ \(1\).png'), auto;
}

.openedBagChild{
    height: 100%;
    width: min(70vw, 400px);
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.openedBagChildHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 20px;
    font-family: inssbold;
    width: 100%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.openedBagChildHeader button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.cartContents{
    width: 100%;
    display: flex;
    padding: 0 2%;
    margin-top: 20px;
    gap: 20px;
    flex-direction: column;
    overflow: scroll;
    justify-content: start;
}

.cartContent{
z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.addedCartPhoto{
    width: 110px;
    height: 110px;
    display: flex;
}

.addedCartImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.addedCartNumber{
    width: 90px;
    height: 30px;
    background-color:  rgba(0, 0, 0, 0.035);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.addedToCNMinus, .addedToCNPlus{
    background-color: transparent;
    border: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addedToCNNumber{
    font-size: 15px;
    font-family: insregu;
}

.addedCartName, .addedCartCost{
    font-family: inssbold;
    font-size: 15px;
}

.addedCartSize{
    font-family: insregu;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.461);
}

.addedCartMiddle{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addedCartRight{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addedCartEdit, .addedCartDelete{
    z-index: 5;
    background-color: transparent;
    border: 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.444);
    cursor: pointer;
}

.openedCartDeliveryStatus{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.openedCartDeliveryChild{
    width: 100%;
    height: 100%;
    background-color: #f8f4f4;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 0 5%;
    flex-direction: column;
}

.deliveryBar{
    width: 100%;
    height: 5px;
    border-radius: 99px;
    background-color: rgb(114, 69, 69);
    position: relative;
    display: flex;
    align-items: center;
}

.deliveryIcon{
    position: absolute;
    width: 30px;
    height:30px;
    border-radius: 99px;
    border: 1px solid rgb(114, 69, 69);
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    color: rgb(114, 69, 69);
    padding: 4px;
}

.deliveryText{
    font-size: 15px;
    font-family: insregu;
    color: rgba(0, 0, 0, 0.48);
}

.deliveryText span{
    font-size: 15px;
    font-family: inssbold;
    color: rgb(114, 69, 69);
}

.openedBagHatTrick{
    width: 100%;
    height: 50px;
}

.openedBagFootFiter, .openedBagChildHeadFiter{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.openedBagHatTrickChild{
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom:solid 1px rgba(0, 0, 0, 0.100) ;
    border-top: solid 1px rgba(0, 0, 0, 0.100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.openedBagHatTrickLine{
    background-color:  rgba(0, 0, 0, 0.100);
    width: 1px;
    height: 100%;
}

.openedBagHatTrickCategory{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.700) ;
    padding: 10px;
    display: flex;
    align-items: center;
}

.openedBagFooter{
    width: 100%;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.035);
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.openedBagViewCartBTN{
    width: 100%;
    height: 50px;
    border-radius: 99px;
    background-color: white;
    border: 1px solid black;
    font-size: 15px;
    font-family: inssbold;
}

.openedBagCheckoutBTN{
    width: 100%;
    height: 50px;   
    border-radius: 99px;
    background-color: black;
    color: white;
    font-size: 15px;
    border: 0;
    font-family: inssbold;
}


.openedBagFooterHead{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: insmed;
}


.openedBagFooterAgree{
    display: flex;
    width: 100%;
    font-size: 15px;
    font-family: insregu;
    gap: 10px;
    color: rgba(0, 0, 0, 0.382);
}

.openedBagFooterAgree input{
    width: 15px;
    border: 0;
    height: 15px;
    border-width: 0
}


@media only screen and (max-width:1044px) {

    .navchild {
        display: none;
    }

    .hamburgermenunav {
        display: grid;
    }

}

@media only screen and (max-width:768px) {
    .searchiconhamburger {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 17px;
    }

    .searchnavbar {
        display: none;
    }

    .hamburgerright {
        gap: 40px;
    }

    .navlogomiddlemenu{
        display: none;
    }
    .displaynonenav{
        display: flex;
    }
}