@import url(nav.css);
@import url(fonts.css);
@import url(footter.css);
@import url(./components/signinsignup.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 3px;
    height: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: #000000;
  }

.wishlistfather{
    width: 100%;
    display: flex;
    padding-top: 150px;
}
.wishlistchild{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 3%;
}

.hometowishlistdiv{
    text-align: center;
    font-family: insregu;
    font-size: 14px;
    color: rgb(0, 0, 0);

}

.hometoW{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.453);
}

.wishlisttitle{
    text-align: center;
    font-family: insmed;
font-size: 34px;
}

.wishlisttext{
    text-align: center;
    font-family: insregu;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.523);
}


.recentlyviewedfather{
    width: 100%;
    display: flex;
    padding-top: 120px;
}
.recentlyviewedchild{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 3%;
}

.recentlyviewedtitle{
    text-align: center;
    font-family: insmed;
font-size: 34px;
}

.recentlyviewedtext{
    text-align: center;
    font-family: insregu;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.523);
}

.recentlyviewednotext{
    margin-top: 20px;
    text-align: center;
    font-family: insregu;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.523);
}


.wishlistitemsfather{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding: 0 3%;
}

.wishlistitemschild{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    grid-auto-flow: row;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.line{
    margin-top: 100px;
    width: 100%;
    height: .1px;
    background-color: rgba(0, 0, 0, 0.142);
}


.displaynone{
    display: none;
}


.rightxbutton{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightheart:hover{
    background-color: black;
}

.rightheart:hover .rightxbutton{
color: white;
}


@media only screen and (max-width: 1500px) {
    .wishlistitemschild{
        grid-template-columns: repeat(3, auto);
    }
}

@media only screen and (max-width: 1100px) {
    .wishlistitemschild{
        grid-template-columns: repeat(2, auto);
    }
}

@media only screen and (max-width: 716px) {
    .wishlistitemschild{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}

.width100{
    width: 335px;
}

@media only screen and (max-width: 716px) {
    .width100{
    width: 100%!important;
    }
}